.photo {
  img {
    width: 350px;
    @media screen and (max-width: 800px) {
      width: 250px;
    }
  }
  @media screen and (max-width: 800px) {
    // margin-top: 4rem;
    display: flex;
    justify-content: center;
    order: 0;
    width: 250px;
  }
}
